<%@ Control Language="C#" Inherits="System.Web.Mvc.ViewUserControl" %>

<script type="text/javascript">
    alert('hello');
</script>
    <% foreach(var o in (List<LMS.Data.Plan_Document>)ViewData["plandocs"]){ %>
        <option id="<%= Html.Encode(o.Plan_Document_ID) %>"><%= Html.Encode(o.Title) %></option>
    <%} %>