﻿<%@ Master Language="C#" Inherits="System.Web.Mvc.ViewMasterPage" %>

<%@ Import Namespace="Helpers" %>
<%@ Import Namespace="LMS.Data.Repository" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>
        <asp:ContentPlaceHolder ID="TitleContent" runat="server" />
    </title>
    <asp:ContentPlaceHolder ID="HeaderContent" runat="server" />
    <link href="../../Content/Site.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.1/jquery-ui.min.js"></script>
    <script src="../../Scripts/tablesort/jquery-latest.js" type="text/javascript"></script>
    <script src="../../Scripts/tablesort/jquery.tablesorter.js" type="text/javascript"></script>
    <script language="javascript" src="../../Scripts/jquery.popupWindow.js"></script>
    <script src="../../Scripts/MicrosoftAjax.js" type="text/javascript"></script>

    <script src="../../Scripts/MicrosoftMvcAjax.js" type="text/javascript"></script>

    <link href="../../Content/themes/redmond/ui.all.css" rel="stylesheet" type="text/css" />

    <script src="../../Scripts/ui/ui.datepicker.js" type="text/javascript"></script>

    <script src="../../Scripts/jquery.maskedinput-1.2.2.js" type="text/javascript"></script>

    <script src="../../Scripts/jquery.cookie.js" type="text/javascript"></script>
    
    <script src="../../Scripts/ui/ui.core.js" type="text/javascript"></script>

    <script src="../../Scripts/ui/ui.tabs.js" type="text/javascript"></script>

    <script src="../../Scripts/jquery.contextMenu.js" type="text/javascript"></script>

    <script src="../../Scripts/jquery.simplemodal-1.2.3.js" type="text/javascript"></script>

    <link href="../../Content/jquery.contextMenu.css" rel="stylesheet" type="text/css" />
   
    <script src="../../Scripts/jquery.sorttable.js" type="text/javascript"></script>

    <link href="../../Content/jquery.autocomplete.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript">
        function initialCap(field) { field.value = field.value.substr(0, 1).toUpperCase() + field.value.substr(1); }

        $(function() {
            $('#ckaway').click(function() {
                if ($('#ckaway').is(":checked")) {
                    $('#pingback').load('/Record/Refresh/3');
                    if (window.location.pathname == '/Record/Admin') {
                        location.reload();
                    }
                } else {

                    $('#pingback').load('/Record/Refresh/1');
                    if (window.location.pathname == '/Record/Admin') {
                        location.reload();
                    }
                }
            })
        });
        
        var refreshId = setInterval(function() {$('#pingback').load('/Record/Refresh/0');}, 15000);
    </script>

</head>
<body class="mainbody">
    <div class="page">
        <div id="header">
            <div id="title">
                <h1>
                    Longevity Alliance - LMS 2.0</h1>
            </div>
            <div id="logindisplay">
                <% Html.RenderPartial("LogOnUserControl"); %>&nbsp;&nbsp;
                <span id="pingback">
                <%if(UserRepository.GetUser(Page.User.Identity.Name).Online_Status_ID == 1)
                  { %>
                   <span class="online">(Online)</span> 
                <%}
                  else if(UserRepository.GetUser(Page.User.Identity.Name).Online_Status_ID == 2)
                  { %>
                   <span class="offline">(Offline)</span> 
                <%}
                  else
                  { %>
                   <span class="away">(Away)</span> 
                <%} %>
                </span>
                &nbsp;&nbsp;
                <span class="away">Set away</span>
                <%if(UserRepository.GetUser(Page.User.Identity.Name).Online_Status_ID == 1)
                  { %>
                    <%=Html.CheckBox("ckaway",false) %>
                <%}
                  else if (UserRepository.GetUser(Page.User.Identity.Name).Online_Status_ID == 3)
                  { %>
                    <%=Html.CheckBox("ckaway", true)%>
                <%} %>
            </div>
            <% Html.RenderPartial("LicensingMenu"); %>
        </div>
        <div id="main" style="-moz-box-shadow: 0.4em 0.4em 1em rgba(0, 0, 0, 0.5); -moz-border-radius: 6px;
            -webkit-border-radius: 6px; border: 1px solid #000; padding: 10px;">
            <asp:ContentPlaceHolder ID="MainContent" runat="server" />
            <div id="footer">
            </div>
        </div>
    </div>
    <asp:ContentPlaceHolder ID="ScriptContent" runat="server" />
</body>
</html>
