﻿body 
{
    margin: 0;
    background-image: url(siteart/bgstripe.png);
    background-repeat: repeat;
    font-family: Verdana;
    font-size: .8em;
}
/* MISC  
----------------------------------------------------------*/
.clear
{
    clear: both;
}

.error
{
    color: Red;
}

#menucontainer
{
    margin-top: 10px;
}

div#title
{
    display: block;
    float: left;
    text-align: left;
}

#logindisplay
{
    top: 0;
    font-size: 1.1em;
    text-align: right;
    color: White;
}

#logindisplay a:link
{
    color: White;
    text-decoration: underline;
}

#logindisplay a:visited
{
    color: white;
    text-decoration: underline;
}

#logindisplay a:hover
{
    color: white;
    text-decoration: none;
}

.field-validation-error
{
    color: #ff0000;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}
/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/
fieldset
{
    margin: 0em 0 1em 0;
    padding: 1em;
    border: 1px solid #304f9f;
}

legend
{
    font-size: 1.2em;
    font-weight: bold;
    color: #ffffff;
    background: #304f9f;
    padding: 5px 10px;
}

fieldset p
{
    margin: 10px 12px 2px 10px;
}

fieldset label
{
    display: block;
    font-weight: bold;
    margin: 5px 0 3px 0;
}

fieldset label.inline
{
    display: inline;
}

input[type="text"], input[type="password"]
{
    width: 150px;
    border: 1px solid #cccccc;
    color: #222222;
    font-size: 1em;
}
select
{
    color: #222222;
    font-size: 1em;
}
input[type="text"]:focus, input[type="password"]:focus
{
    background-color: #ffd09d;
    border: 1px solid #ff9622;
}

textarea
{
    display: block;
    height: 100px;
    width: 400px;
    color: #222222;
    font-family: Arial, Helvetica, Sans-Serif;
    font-size: 1.1em;
    border: 1px solid #cccccc;
}

textarea:focus
{
    background-color: #ffd09d;
    border: 1px solid #ff9622;
}
/*
    LAYOUT CONTAINER
*/
#headerwrapper
{
    top: 0;
    background-image: url(siteart/headerbg.gif);
    background-repeat: repeat-x;
    height: 20px;
    width: 985px;
    margin-left: auto;
    margin-right: auto;
    color: White;
}
#HeaderText
{
    float: left;
    color: White;
}
#wrapper
{
    border: solid 1px #579cea;
    border-top: none;
    background-color: White;
    width: 983px;
    margin-left: auto;
    margin-right: auto;
}
#menuwrapper
{
    background-image: url(siteart/menubg.gif);
    background-repeat:repeat-x;
    
    width: 985px;
    margin-left: auto;
    margin-right: auto;
}
#content
{
    position: relative;
    padding: 6px;
    width: 785px;
    float: left;
}
#rightside
{
     position: relative;
    left: 800px;
    width: 185px;
}
/*
    Menu
*/
ul#menu
{   margin:0;
    list-style:none;
    display: inline-block;
}

ul#menu li, #loginlink
{
    list-style:none;
    margin: 0 .5em 0 0;
    padding:0;
    display: inline;
    float: left;
}

ul#menu a, #loginlink a
{
    display: block;
    margin:0;
    padding: .2em 1em;
    color:#FFF;
    font-weight:bold;
    text-decoration:none;
}

ul#menu a:hover, #loginlink a:hover, ul#menu a:focus, #loginlink a:focus
{
    color:#579cea;
}

ul#menu li.selected a, #loginlink.selected a
{
    background-color:#FBFBFB;
    color:#455;
}
.client-title
{
    padding: 3px 3px 3px 35px;
    color: White;
    font-weight: bold;
    background: #2171cc url(icons/contact.gif) 3px 6px no-repeat;
}
.client-inner
{
    margin: 3px;
}
table.client thead
{
    font-size: 1em;
    font-weight: bold;
}

table.client th
{
    background-color: #a9cafc;
    color: Black;
    text-transform: capitalize;
}
table.client td
{
    border-bottom: solid 1px #dee2e7;
}