﻿/*----------------------------------------------------------
The base color for this template is #5c87b2. If you'd like
to use a different color start by replacing all instances of
#5c87b2 with your new color.
----------------------------------------------------------*/
.mainbody
{
	font-size: 12px;
	font-family: Calibri, Verdana, Helvetica, Sans-Serif;
	margin: 0px;
	padding: 0px;
	color: #333333;
	background-image: url(images/bgstripe.png);
	background-repeat: repeat;
    overflow-y: scroll;
}

a:link
{
	font-weight: bold;
	color: #304f9f;
	text-decoration: none;
}
a:visited
{
	font-weight: bold;
	color: #304f9f;
	text-decoration: none;
}
a:hover
{
	text-decoration: none;
	color: Black;
}
a:active
{
	background-color: #12eb87;
	
}

p, ul
{
	margin-bottom: 20px;
	line-height: 1.6em;
}

.hide
{
	display: none;
}

/* HEADINGS   
----------------------------------------------------------*/
h1, h2, h3, h4, h5
{
	font-size: 1.5em;
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
}

h1
{
	font-size: 2em;
	padding-bottom: 0;
	margin-bottom: 0;
}
h2
{
	padding: 0 0 10px 0;
}
h3
{
	font-size: 1.2em;
}
h4
{
	font-size: 1.1em;
}
h5
{
	font-size: 1em;
}

/* this rule styles <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
	margin-top: 0;
}

thead.small
{
	line-height: 12px;
}
/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

/* you can specify a greater or lesser percentage for the 
page width. Or, you can specify an exact pixel width. */
.page
{
	width: 1200px;
	margin-left: auto;
	margin-right: auto; /*     margin-left: 10px;     margin-right: 10px; */
}

#header
{
	position: relative;
	margin-bottom: 0px;
	color: #000;
	padding: 0;
}

#header h1
{
	font-style: italic;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: White;
	border: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 22px !important;
}

#main
{
	padding: 10px 10px 5px 10px;
	border: solid 1px Black;
	border-top: none;
	background-color: White;
	margin-bottom: 30px;
	_height: 1px; /* only IE6 applies CSS properties starting with an underscrore */
}

#footer
{
	color: #999;
	padding: 10px 0;
	text-align: center;
	line-height: normal;
	margin: 0;
	font-size: .9em;
}

/* TAB MENU   
----------------------------------------------------------*/
ul#menu
{
	/*border-bottom: 1px Black solid;*/
	padding: 0 0 0px;
	position: relative;
	margin: 0;
	text-align: right;
}

ul#menu li
{
	display: inline;
	list-style: none;
}

ul#menu li#greeting
{
	padding: 5px 20px;
	font-weight: bold;
	text-decoration: none;
	line-height: 1.5em;
	color: #fff;
}

ul#menu li a
{
	text-decoration: none;
	padding: 2px 10px;
	font-weight: bold;
	text-decoration: none;
	line-height: 1.5em;
	background: url(images/Menu.gif) -1px;
	background-repeat: repeat-x;
	color: White;
	border: solid 1px Black;
	border-bottom: none;
}

ul#menu li.menuRed a
{
	background: url(images/MenuRed.gif) -1px;
}

ul#menu li.menuGreen a
{
	background: url(images/MenuGreen.gif) -1px;
}

ul#menu li.menuRed a
{
    color: Red;
}

ul#menu li.menuGreen a
{
    color: Green;
}

ul#menu li a:hover
{
	text-decoration: none;
	border: solid 1px #222222;
	border-bottom: none;
}

ul#menu li a:active
{
	text-decoration: none;
}


ul#menu li.active a
{
	background: url(images/MenuActive.gif) -1px;
	background-repeat: repeat-x;
	color: White;
	border: solid 1px Black;
	border-bottom: none;
}

ul#menu li.sactive a
{
	background: url(images/MenuActive.gif) -1px;
	background-repeat: repeat-x;
	color: Red;
	border: solid 1px Black;
	border-bottom: none;
}

ul#menu li.sinactive a
{
	background: url(images/Menu.gif) -1px;
	background-repeat: repeat-x;
	color: Red;
	border: solid 1px Black;
	border-bottom: none;
}



ul#SideMenu
{
	margin: 0px;
}

ul#SideMenu li
{
	list-style: none;
	display: block;
	margin: 3px;
}


/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/
fieldset
{
	margin: 0em 0 1em 0;
	padding: 1em;
	border: 1px solid #304f9f;
}

legend
{
	font-size: 13px;
	font-weight: bold;
	color: #ffffff;
	background: #304f9f;
	padding: 2px;
}

fieldset p
{
	margin: 10px 12px 2px 10px;
}

fieldset label
{
	display: block;
	font-weight: bold;
	margin: 5px 0 3px 0;
}

fieldset label.inline
{
	display: inline;
}

input
{
	font-family: Calibri, Verdana, Helvetica, Sans-Serif;
	font-size: 12px;
}


select
{
	font-family: Calibri, Verdana, Helvetica, Sans-Serif;
	color: #222222;
	font-size: 12px;
}
input[type="text"]:focus, input[type="password"]:focus
{
	background-color: #eff0f1;
	border: 2px solid #5374c9;
}

textarea
{
	font-family: Calibri, Verdana, Helvetica, Sans-Serif;
	color: #222222;
	border: 1px solid #cccccc;
}
/*
textarea.small
{
    display: block;
    height: 30px;
    width: 250px;
    color: #222222;
    font-family: Arial, Helvetica, Sans-Serif;
    font-size: 1.1em;
    border: 1px solid #cccccc;
}
*/
textarea:focus
{
	background-color: #ffd09d;
	border: 1px solid #ff9622;
}

.bluearea
{
	background-color: #a7b5dc;
}
/* TABLE
----------------------------------------------------------*/

table
{
}

table td
{
	font-family: Calibri, Verdana, Helvetica, Sans-Serif;
	font-size: 12px;
	padding: 2px;
}

table.section td input
{
	font-family: Calibri, Verdana, Helvetica, Sans-Serif;
	font-size: 12px;
}

table.section td select
{
	font-family: Calibri, Verdana, Helvetica, Sans-Serif;
	font-size: 12px;
}


table thead td, table th
{
	padding: 5px;
	text-align: left;
	text-transform: uppercase;
	font-weight: bold;
	color: #ffffff;
	background-color: #304f9f;
}

table thead
{
	font-size: 1.2em;
	font-weight: bold;
}

table th
{
	background-color: #a9cafc;
	color: Black;
	text-transform: capitalize;
	font-size: .8em;
}

table tr.sortable
{
	font-size: 12px;
}
table thead.sortable
{
	background-color: #a9cafc;
	color: Black;
	text-transform: capitalize;
}
table.sortable td
{
	border-bottom: solid 1px #dee2e7;
}

table tr.row-alternate
{
	background-color: #E4E4E4;
}

table tr.duplicate
{
	background-color: #dbddf2;
}

/* MISC  
----------------------------------------------------------*/
.btn
{
	border: 1px outset #304f9f;
	background-color: #304f9f;
	color: White;
}
.clear
{
	clear: both;
}

.displaySearchImage
{
	background: url(../../Content/icons/zoom.png) no-repeat;
	width: 24px;
	height: 24px;
	background-color: #e0e4ee;
	border: none;
}

.displaySaveImage
{
	background: url(../../Content/icons/check.png) no-repeat;
	width: 24px;
	height: 24px;
	background-color: #e0e4ee;
	border: none;
}

.error
{
	color: #FF0000;
}
.orange
{
	color: #f38400;
}

#menucontainer
{
	margin-top: 10px;
}

div#title
{
	display: block;
	float: left;
	text-align: left;
	color: White;
}

#logindisplay
{
	font-size: 1.1em;
	display: block;
	text-align: right;
	color: White;
}

#logindisplay a:link
{
	color: White;
	text-decoration: underline;
}

#logindisplay a:visited
{
	color: white;
	text-decoration: underline;
}

#logindisplay a:hover
{
	color: white;
	text-decoration: none;
}

.field-validation-error
{
	color: #ff7575;
}

.input-validation-error
{
	border: 1px solid Red;
	background-color: #ff7575;
}

.validation-summary-errors
{
	font-weight: bold;
	color: Red;
}

#AjaxLoader
{
	min-height: 100px;
	background-image: url(images/AjaxLoader.gif);
	background-position: center;
	background-repeat: no-repeat;
}

/*  Section Table
--------------------------------------------------------------------*/
.client-outer
{
	border: 1px solid #304f9f;
}
.client-title
{
	padding: 10px 10px 10px 35px;
	color: White;
	font-weight: bold;
	background: #4b6bbe url(icons/contact.gif) 3px 6px no-repeat;
}
.client-inner
{
}

table.client thead
{
	font-size: 1em;
	font-weight: bold;
}

table.client th
{
	background-color: #a9cafc;
	color: Black;
	text-transform: capitalize;
}
table.client td
{
	border-bottom: solid 1px #dee2e7;
	background-color: White;
}

.section-title
{
	padding: 5px 5px 5px 35px;
	color: White;
	font-weight: bold;
	background: #4b6bbe url(icons/contact.gif) 1px 3px no-repeat;
}
.section-inner
{
}

table.section
{
	margin: 5px;
	font-size: 12px;
	width: 769px;
	height: 18px;
}
table.section thead
{
	font-weight: bold;
}

table.section th
{
	background-color: #a9cafc;
	color: Black;
	text-transform: capitalize;
}
table.section td
{
}

table td.label
{
	font-size: 12px;
	text-align: left;
	padding-right: 2px;
	font-weight: bold;
}

span.label {
    font-size: 12px;
	font-weight: bold;
}

.admingdiv
{
	/*     background-image: url(images/admindivbg.gif);     bckground-repeat: repeat-x;     border: solid 1px #a1b2de;     min-height: 400px; */
}
.person
{
	background-color: #e1e7f8;
	border: solid 1px #7e94cf;
}
.personright
{
	background-color: #e1e7f8;
	border: solid 1px #7e94cf;
}
.LeadDecay td
{
	background-color: #fef975;
	border: solid 1px Black;
	text-align: center;
	border-bottom: none;
	border-right: none;
}
.LeadDecay th
{
	padding: 3px 0px 3px 0px;
	font-weight: normal;
	text-align: center;
	border-top: solid 2px #4897f8;
}
.subtable
{
	width: 80%;
}
.subtable thead tr th
{
	background-color: #e2e3e5;
	color: Black;
}

/* New Table Header */
.NewTable
{
}

.NewTable thead tr th
{
	background-image: url(siteart/DefaultTableHeader.png);
	background-repeat: repeat-x;
	color: White;
	height: 20px;
}

/* Z-index of #mask must lower than #boxes .window */
#dmask
{
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 9000;
	background-color: #000;
	display: none;
}

#boxes .window
{
	position: absolute;
	display: none;
	z-index: 9999;
	padding: 20px;
}


/* Customize your modal window here, you can add background image too */
#boxes #dialog
{
	width: 375px;
	height: 203px;
}

#CarrierTable
{
}

#CarrierTable tbody tr.highlight
{
	background-color: #d1c5b8;
}


h6
{
	font-size: 13px;
	font-weight: bold;
	color: #111;
}
h6 span
{
	position: absolute;
	margin: -1px 0 0 -1px;
	color: #fff;
}
.question
{
	font-size: 14px;
	margin-bottom: 10px;
}
.answer
{
	margin-bottom: 25px;
}
#gbsnotes
{
	margin-top: 20px;
	background-color: White;
	border: solid 1px #4B6BBE;
}
.gbsheader
{
	color: Black;
	padding: 6px;
	background: #a9cafc;
	font-weight: bold;
}

.button
{
	background: transparent url('images/bg_button_a.gif') no-repeat scroll top right;
	color: #444;
	display: block;
	float: left;
	font: normal 12px arial, sans-serif;
	height: 24px;
	margin-right: 6px;
	padding-right: 18px; /* sliding doors padding */
	text-decoration: none;
}

.button span
{
	background: transparent url('images/bg_button_span.gif') no-repeat;
	display: block;
	line-height: 14px;
	padding: 5px 0 5px 18px;
}
.address
{
	border: solid 1px Transparent;
}
.address-hover
{
	border: solid 1px Black;
}

/* User online status
----------------------------------------------------*/

.online
{
	font-weight: bold;
	font-size: 14px;
	color: #59c303; /*color:#0cfd56;*/
}

.away
{
	font-weight: bold;
	color: #f79509;
}

.offline
{
	font-weight: bold;
	color: #a09f9a;
}

div.halfFloatLeft 
{
    width: 575px;
    height: 200px;
    float: left;
    margin: 5px;
}

.section-title span 
{
    font-size: 20px;
}

/* Dialogs
------------------------------------------*/
div.dialogForm {
    width: 1200px;
}

/* Titlebar menu
------------------------------------------*/
.title-menu div {
    float: right;
    margin: 5px;
}

.title-menu div img {
    opacity: 0.6;
    filter: alpha(opacity=60);
}

#HeaderTitle {
    opacity: 0.3;
    filter: alpha(opacity=30);
}

/* selectable menu
------------------------------------------*/
.selectable-headerrow {
    text-align: left;
}
.selectable {
    text-align: right;
    font-family: Calibri, Verdana, Helvetica, Sans-Serif;
    font-size: 15px;
    padding: 2px;
}
.selectable ol li {
    margin: 3px;
    padding: 5px;
}

.selectable ol li.ui-selecting {
     background: #304f9f;
}

.selectable ol li.ui-selected {
        background: #304f9f; 
        color: white;
}

.selectable ol {
        list-style-type: none; 
        margin: 5px; 
        padding: 0;
}

 li.ui-widget-content:hover {
     background: Beige;
     border-color: black;
}

.customerProfileFreeText textarea {
    width: 360px;
    height: 110px;
    margin: 10px;
}

